<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
  </head>
  <body>
    <h1>The Inspiring Story of Novak Djokovic</h1>
    <h2>Who is Djokovic</h2>
    <article>
      Novak Djokovic was born on 22 May 1987 in Belgrade, SR Serbia, SFR
      Yugoslavia, to Srđan and Dijana Đoković (born Žagar). He is of paternal
      Serbian and maternal Croatian descent.[16] His two younger brothers, Marko
      and Djordje, have also played professional tennis.[17] Djokovic began
      playing tennis at the age of four,[18] after his parents gave him a
      mini-racket and a soft foam ball, which his father claimed became "the
      most beloved toy in his life".[19] His parents then sent him to a tennis
      camp in Novi Sad.[19][20] In the summer of 1993, as a six-year-old, he was
      sent to a tennis camp organized by the Teniski Klub Partizan[20] and
      overseen by Yugoslav tennis player Jelena Genčić[21] at Mount Kopaonik,
      where Djokovic's parents ran a fast-food parlour[22] and a sports
      equipment business.[19] Upon seeing the child Djokovic playing tennis, she
      stated: "This is the greatest talent I have seen since Monica Seles."[20]
      Genčić worked with young Djokovic over the following six years before
      realizing that, owing to his rapid development, going abroad in search of
      increased level of competition was the best option for his future. To that
      end, she contacted Nikola Pilić and in September 1999 the 12-year-old
      moved to the Pilić tennis academy in Oberschleißheim, Germany, spending
      four years there.[23] At the age of 14, he began his international career,
      winning European championships in singles, doubles, and team
      competition.[24] Djokovic is a self-described fan of languages, speaking
      Serbian, English, French, German, and Italian.[25][26] He met his future
      wife, Jelena Ristić, in high school, and began dating her in 2005.[27] The
      two became engaged in September 2013,[28] and on 10 July 2014 the couple
      were married on Sveti Stefan in Montenegro,[29] while a church wedding was
      held in the same place, on 12 July 2014, in the Church of Saint Stephen
      (Serbian Cyrillic: Црква Светог Архиђакона Стефана) which belongs to
      Praskvica Monastery.[30] In April 2014, Djokovic announced that he and
      Ristić were expecting their first child.[31] Their son was born in October
      2014.[32] Their daughter was born in 2017.[33]
    </article>
  </body>
</html>
