<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>works</title>
  </head>
  <body>
    <h1>WORKS</h1>
    <h2>Whad did he achieve?</h2>
    <article>
      This article lists various career, tournament, and seasonal achievements
      by Serbian tennis player Novak Djokovic. Djokovic is a twenty-one time
      Grand Slam champion and a record seven-time year-end world No.1. He has
      been world No. 1 for a record 373 weeks.[1] Djokovic is one of eight one
      male players to achieve the Career Grand Slam and one of four to achieve
      the Double Career Grand Slam. He is the only player in tennis history to
      hold all four major titles on three different surfaces at once. He is also
      the only player to win all four majors, all nine ATP Masters 1000
      tournaments, and the ATP Tour Finals in their career, with him winning
      each at least twice. Djokovic is widely viewed by many sports analysts,
      fans and media pundits as one of the three greatest tennis players of all
      time, often rated alongside Roger Federer and Rafael Nadal, collectively
      known as the "Big Three" who have dominated Men's tennis for over 18
      years. He has reached a record 32 Grand Slam finals and played the final
      of each Grand Slam tournament at least six times, an all-time record. He
      has won 5 ATP Tour Finals titles, including a record streak of four
      consecutive titles from 2012 to 2015. Djokovic's 2011 season is considered
      one of the greatest seasons by a tennis player in the Open Era. Djokovic
      won 10 titles on 3 different surfaces and defeated Rafael Nadal and Roger
      Federer a total of ten times collectively, going 10–1 against them.
      Djokovic went on a 41-match win streak and set a then record of 5 Masters
      titles won in a season. In 2015 Djokovic won three majors in one season
      for the second time, improved his record of most Masters won in a season
      by winning six titles, and finished the year winning his fourth
      consecutive World Tour Finals title. Djokovic also made the finals of all
      Big tournaments he played in 2015 defeating 31 Top-10 players along the
      way (Open Era record) and setting an all-time ATP rankings record.
      Djokovic's 2015 is seen as the greatest season in the Open Era by many
      fans and analysts. Djokovic's consistency on the ATP tour is matched only
      by Roger Federer. Djokovic holds the records of 15 straight finals in a
      single season, a streak of 11 Masters finals and 18 straight top-tier
      tournament finals. Djokovic holds the record for ATP ranking points since
      the 1973 ATP rankings were introduced at 16,950 points, more than the
      world number 2 and 3 combined. Djokovic has won a record 38 titles in the
      ATP Masters tournaments. By 2018, he had won Masters titles across all 9
      venues where Masters tournaments are held, becoming the first player to
      achieve the "Career Golden Masters". As a result, he is considered to be
      the greatest and most accomplished player in ATP Masters history for his
      versatility and success in winning the Masters tournaments on a consistent
      basis.[2] Djokovic is widely viewed as one of the greatest hardcourt
      players of the Open Era, if not the greatest.[3] He has the record of most
      hardcourt Majors and Masters titles. Djokovic has won 7 titles on grass
      courts, including six Wimbledon titles.[4] Besides hard courts and grass
      courts, Djokovic has won 18 titles on clay, including two French Open
      titles and 11 Masters titles which is second only to Rafael Nadal's (known
      as King of Clay) record of 26. Djokovic is one of two players (with Robin
      Söderling) to defeat Rafael Nadal at the French Open, and the only one to
      do so twice. He is also the only player to defeat Nadal in all three clay
      court Masters events. Djokovic is the player with the most clay-match wins
      over Nadal (8) and the one who ended Nadal's consecutive run of 8 Monte
      Carlo titles in the 2013 final. Djokovic is the only player to defeat
      Federer and Nadal in all four Grand Slams. He's also the only one to beat
      both in multiple Grand Slam finals, multiple Masters finals and in the
      final of Year-End Championship. He is the only player to defeat Federer in
      three Wimbledon finals (2014, 2015 and 2019) and the only player to defeat
      Nadal in four Grand Slam finals (Wimbledon 2011, US Open 2011 and
      Australian Open 2012, 2019).
    </article>
  </body>
</html>
